body {
  background: rgb(29, 31, 39);
}

button {
  pointer: cursor;
}

input[type=file] {
  width: 500px;
  height: 500px;
}

.jumbotron {
	width: 600px;
	text-align: center;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;	
}

.form-control{
	width: 300px;
	margin-right: auto;
	margin-left: auto;	
}
